*{
	margin: 0;
	padding: 0;
}
.header {
	background-color: #fcdb00;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.header_content {
	overflow: hidden;
}

.logo {
	width: 30%;
	float: left;
	padding-top: 20px;
    padding-bottom: 15px;
}
.logo img{
	width: 58%;
    padding-top: 26px;
}

.manu {
	width: 60%;
	float: right;
	padding-top: 53px;
	margin-right: -47px;
}
.manu ul{
	list-style: none;
}
.manu ul li{
	float: left;
}
.manu ul li a{
	text-decoration: none;
	padding-left: 84px;
    font-size: 20px;
    color: black;
    transition: 1s;
}
.manu ul li a:hover {
	color: #867e7e;
}
.banner {
	background-color: #fcdb00;
}

.wrapper {
}

.banner_content {
	overflow: hidden;
	padding-bottom: 70px;
}

.banner_left {
	width: 45%;
	float: left;
}
.banner_left h1{
	font-size: 24px;
    padding-top: 60px;
    padding-bottom: 14px;
}
.banner_left p{
	font-size: 17px;
}

.text {
}

.banner_icon {
	padding-top: 20px;
}

.apple {
	width: 14%;
    float: left;
}

.android {
	width: 18%;
    float: left;
}

.windows {
	width: 30%;
    float: left;
}

.banner_right {
	width: 40%;
	float: right;
}
.banner_right img{
	width: 80%;
    padding-top: 33px;
    padding-left: 8%;
}
.service {
}

.wrapper {
}

.service_header {
}
.service_header h1{
	text-align: center;
	padding-top: 86px;
    padding-bottom: 10px;
    font-size: 30px;
}
.service_header p{
	text-align: center;
	margin-bottom: -14px;
    font-size: 18px;
}
.s{
	font-size: 20px;
}
.service_blog{
	overflow: hidden;
	padding-top: 85px;
}
.sblog_1{
	width: 30%;
	float: left;
	overflow: hidden;
	padding-bottom: 70px;
    padding-left: 3%;
}
.icon_1{
	width: 20%;
	float: left;
}
.icon_1 img{
	width: 80%;
}
.blog_content{
	width: 80%;
	float: right;
}
.blog_content h1{
	font-size: 22px;
}
.blog_content p{}

.data {
	background-color: black;
}

.wrapper {
}

.data_input {
	overflow: hidden;
}

.data_header {
	padding-bottom: 55px;
}
.data_header h1{
	text-align: center;
	padding-top: 86px;
    padding-bottom: 10px;
    font-size: 30px;
    color: #fcdb00;
}
.data_header p{
	text-align: center;
	margin-bottom: -14px;
    font-size: 18px;
    color: white;
}

.t {
	font-size: 20px;
	color: white;
}
.data_form{
	text-align: center;
	position: relative;
	padding-bottom: 28px;
	padding-right: 12%;
}
.data_form button{
	position: absolute;
	border: none;
	background: transparent;
}
.data_form input{
	font-size: 13px;
    height: 33px;
    width: 391px;
}
button img{
	width: 75%;
}
.data_icon {
	overflow: hidden;
    width: 50%;
    text-align: center;
    padding-left: 196px;
    padding-bottom: 50px;
}

.fb {
	width: 22%;
	float: left;
}

.twitter {
	width: 22%;
	float: left;
}

.pinterest {
	width: 22%;
	float: left;
}
.address {
	background-color: black;
}

.wrapper {
}

.information {
	overflow: hidden;
}

.address_line {
	width: 18%;
	float: left;
	padding-right: 16px;
}
.address_line p{
	color: white;
	font-size: 14px;
}

.d_2 {
	float: left;
	width: 15%;
	padding-left: 5px;
	padding-left: 40px;
}
.d_2 ul{
	list-style: none; 
}
.d_2 ul li{
}
.d_2 ul li a{
	text-decoration: none;
	color: white;
}
.d_2 ul li:last-child a {
	padding-right: 0px;
}